USE [master]
GO
/****** Object:  Database [Normlization_HW]    Script Date: 17/02/2025 21.37.24 ******/
CREATE DATABASE [Normlization_HW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Normlization_HW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Normlization_HW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Normlization_HW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Normlization_HW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Normlization_HW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Normlization_HW]
GO
/****** Object:  Table [dbo].[IssuedBy]    Script Date: 17/02/2025 21.37.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssuedBy](
	[IssuerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Rank] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IssuerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soldiers]    Script Date: 17/02/2025 21.37.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soldiers](
	[SoldierID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Platoon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoldierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeaponIssuance]    Script Date: 17/02/2025 21.37.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeaponIssuance](
	[IssuanceID] [int] IDENTITY(1,1) NOT NULL,
	[SoldierID] [int] NOT NULL,
	[WeaponID] [int] NOT NULL,
	[IssuerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IssuanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weapons]    Script Date: 17/02/2025 21.37.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weapons](
	[WeaponID] [int] IDENTITY(1,1) NOT NULL,
	[WeaponName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WeaponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[WeaponName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WeaponIssuance]  WITH CHECK ADD FOREIGN KEY([IssuerID])
REFERENCES [dbo].[IssuedBy] ([IssuerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeaponIssuance]  WITH CHECK ADD FOREIGN KEY([SoldierID])
REFERENCES [dbo].[Soldiers] ([SoldierID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeaponIssuance]  WITH CHECK ADD FOREIGN KEY([WeaponID])
REFERENCES [dbo].[Weapons] ([WeaponID])
ON DELETE CASCADE
GO
USE [master]
GO
